<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Book Update #{{book.id}}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
    
</body>
</html>